body {
    font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px!important;
    color: #8a8a8a!important;
    line-height: 1.5;
    overflow-x: hidden;
}

.px-0 {
    padding: 0;
}

.mt-20 {
    margin-top: 20px;
}

.mt-0{
    margin-top: 0!important;
}

.py-10 {
    padding: 10px 0;
}

.navbar-brand{
    font-size: 30px!important;
    font-weight: 700!important;
}

.nav-outline{
    padding: 28px 0;
    width: 100%;
    border-bottom: 1px solid #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
}

.flex-nowrap{
    flex-wrap: nowrap!important;
    width: 20% !important;
    height: 37px!important;
}

.label {
    font-weight: 600!important;
}

.input-height {
    height: 37px!important;
}

.input-height::placeholder {
    font-size: 16px;
    color: #dddddd;
}

th {
    border-top: none!important;
}

.mx-5{
    margin: 0 5px!important;
}

.table-pagination{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 33px;
}


.page-item.active .page-link  {
    background: linear-gradient(120deg, #1dccdf 0%, #1de4bd 100%)!important;
    border-color: transparent!important;
}

.page-link{
    border-color: transparent!important;
    border-radius: 3px;
}

.paginate_button{
    border: none!important;
}

.activePage{
    background: linear-gradient(120deg, #1dccdf 0%, #1de4bd 100%);
}

.nav-stacked > li > ul > li >a {
    padding-left: 30px;
    padding-top:2px;
    padding-bottom: 2px;
    font-weight:400;
    cursor: pointer;
}

.nav-stacked > li > ul > li > a::before {
    content: "\25CF";
    padding-right:5px;
}

.col-form-label{
    color: black;
    font-weight: 700;
}

.form-inline{
    width:100% !important;
    justify-content: space-between!important;
    align-items: center!important;
}

.modal-body {
    padding: 50px!important;
}

.modal-footer{
    padding: 1rem 3rem 1rem 1rem;!important;
}

.text-area {
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.sideNav ul.sideNav-list li {
    padding: 0px 8px 1px 8px;
}

.sideNav ul.sideNav-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.sideNav .sideNav-list a.active, .sideNav .sideNav-list a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.sideNav .sideNav-list a.nav-label {
    position: relative;
}

.sideNav .sideNav-list a {
    font-size: 0.8rem;
    padding: 8px 11px;
    min-height: 38px;
    min-width: 40px;
    white-space: nowrap;
    display: block;
    text-decoration: none;
    border-radius: 20px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#_slideNav {
    padding-top: 66px;
    -webkit-transition: width 2s;
    transition: width 0.2s;
    overflow-y: auto;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    transition: 300ms;
}

.sideNav .sideNav-list .feather {
    margin-right: 5px;
    float: left;
    min-height: 20px;
}


.feather {
    width: 14px;
    height: 20px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}